In [6]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot

In [10]:
users = pd.read_csv('/Users/carlosoliver/Desktop/desafio_tripulaciones/users_data.csv', sep=',')

In [13]:
users.iloc[:1,:]['alergenos']

0    Gluten
Name: alergenos, dtype: object

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import KMeans
import joblib

# Supongamos que 'Users' es tu DataFrame con los datos
# users = pd.read_csv('users.csv')

# Seleccionar las características relevantes para el clustering
features = users[['rol', 'puesto_trabajo', 'pais', 'interes', 'alergenos']]

# Transformar las variables categóricas en números
label_encoders = {}
for column in features.columns:
    label_encoders[column] = LabelEncoder()
    features[column] = label_encoders[column].fit_transform(features[column].astype(str))

# Normalizar los datos
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

# Aplicar K-means con el número óptimo de clusters (4 clusters en este caso)
kmeans = KMeans(n_clusters=4, random_state=0)
kmeans.fit(features_scaled)

# Guardar el modelo y los label encoders en un archivo .pkl
joblib.dump((kmeans, label_encoders, scaler), 'clustering_model.pkl')

/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/626608193.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[column] = label_encoders[column].fit_transform(features[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/626608193.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[column] = label_encoders[column].fit_transform(features[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/626608193.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[column] = label_encoders[column].fit_transform(features[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/626608193.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[column] = label_encoders[column].fit_transform(features[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/626608193.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[column] = label_encoders[column].fit_transform(features[column].astype(str))

['clustering_model.pkl']

In [23]:
for feature in categorical_features:
    plt.figure(figsize=(10, 6))
    sns.countplot(data=users, x=feature, hue='cluster')
    plt.title(f'Clusters por {feature}')
    plt.show()

NameError: name 'categorical_features' is not defined

In [6]:
#pip install SQLAlchemy
#!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /Users/carlosoliver/miniconda3/envs/“ML_ENV”/lib/python3.10/site-packages (2.0.30)
Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/carlosoliver/miniconda3/envs/“ML_ENV”/lib/python3.10/site-packages (from sqlalchemy) (4.11.0)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [21]:
#Datos conexion bbdd
db_user = '***'
db_password = '****'
db_host = '****'
db_port = '****'
db_name = '****'
# Crear la cadena de conexión
churro = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(churro)

# Llamada Query última fila
query = """
SELECT *
FROM Users 
ORDER BY id DESC 
LIMIT 1;
"""
user_new1 = pd.read_sql(query, engine)
user_new1

,id,nombre,apellido,rol,token,password,pagado,puesto_trabajo,nombre_empresa,email,telefono,pais,interes,alergenos,linkedIn,image_path,cluster,createdAt,updatedAt
0,320,fsdv<sdvs<,dv<sdv,user,None,$2a$10$J29Ch7TnBwOKUq66VyLbQulBFpeZtKXHlmlk64t...,0,Consultor de e-Learning,dsv<sfv,WEFWWEF@gmail.com,sdfvsfdv,France,"[""Gestión de la formación""]","[""Sésamo""]",None,315,None,2024-07-02 12:20:00,2024-07-02 12:20:00

In [22]:
user_new = user_new1[['id', 'rol', 'puesto_trabajo', 'pais', 'interes', 'alergenos']]

In [23]:
# Transformar las variables categóricas en números
for column in user_new.columns[1:]:
    user_new[column] = label_encoders[column].transform(user_new[column].astype(str))

# Normalizar los datos
user_new_scaled = scaler.transform(user_new[['rol', 'puesto_trabajo', 'pais', 'interes', 'alergenos']])

# Predecir el cluster
cluster = kmeans.predict(user_new_scaled)[0]

/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/111861208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_new[column] = label_encoders[column].transform(user_new[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/111861208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_new[column] = label_encoders[column].transform(user_new[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/111861208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_new[column] = label_encoders[column].transform(user_new[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/111861208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_new[column] = label_encoders[column].transform(user_new[column].astype(str))
/var/folders/z3/hzk3_13n5c10wmqwhtszhh840000gn/T/ipykernel_61055/111861208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_new[column] = label_encoders[column].transform(user_new[column].astype(str))

In [24]:
cluster

3

In [25]:
type(cluster)

numpy.int32

In [26]:
user_new1['cluster'] = cluster

In [27]:
user_new1

,id,nombre,apellido,rol,token,password,pagado,puesto_trabajo,nombre_empresa,email,telefono,pais,interes,alergenos,linkedIn,image_path,cluster,createdAt,updatedAt
0,320,fsdv<sdvs<,dv<sdv,user,None,$2a$10$J29Ch7TnBwOKUq66VyLbQulBFpeZtKXHlmlk64t...,0,Consultor de e-Learning,dsv<sfv,WEFWWEF@gmail.com,sdfvsfdv,France,"[""Gestión de la formación""]","[""Sésamo""]",None,315,3,2024-07-02 12:20:00,2024-07-02 12:20:00

In [28]:
#!pip install mysql-connector-python
type(user_new1['cluster'])

pandas.core.series.Series

In [29]:
cluster_value = user_new1['cluster'][0]
id_value = user_new1['id'][0]

str(cluster_value)
str(id_value)
int(cluster_value)
int(id_value)

320

In [30]:
type(cluster_value)

numpy.int32

In [31]:
import mysql.connector

# Establecer conexión a la base de datos
conn = mysql.connector.connect(
    host="34.76.186.221",
    user="app-pentec",
    password="Equipo_2",
    database="mysql_app"
)

# Crear cursor para ejecutar consultas
cursor = conn.cursor()

# Construir la consulta SQL de actualización

update_query = """
    UPDATE Users 
    SET cluster = %s 
    WHERE id = %s;
"""


try:
    # Ejecutar la consulta
    cursor.execute(update_query, (f"{cluster_value}", f"{id_value}"))
    # Commit para aplicar los cambios en la base de datos
    conn.commit()

    print("La fila se actualizó correctamente.")
except Exception as e:
    print(f"Error al ejecutar la consulta: {str(e)}")
    conn.rollback()  # Revertir cambios en caso de error
finally:
    # Cerrar cursor y conexión
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'conn' in locals() and conn is not None:
        conn.close()

La fila se actualizó correctamente.

In [32]:
query = """
SELECT *
FROM Users 
ORDER BY id DESC 
LIMIT 1;
"""
user_new = pd.read_sql(query, engine)
user_new

,id,nombre,apellido,rol,token,password,pagado,puesto_trabajo,nombre_empresa,email,telefono,pais,interes,alergenos,linkedIn,image_path,cluster,createdAt,updatedAt
0,320,fsdv<sdvs<,dv<sdv,user,None,$2a$10$J29Ch7TnBwOKUq66VyLbQulBFpeZtKXHlmlk64t...,0,Consultor de e-Learning,dsv<sfv,WEFWWEF@gmail.com,sdfvsfdv,France,"[""Gestión de la formación""]","[""Sésamo""]",None,315,3,2024-07-02 12:20:00,2024-07-02 12:20:00